@page "/"

<h1>Welcome</h1>

<div>
    <a href="/newgame" class="btn btn-primary">Start new game</a>
</div>

@if (Games != null) 
{
    <div>
        <table class="table">
            <tr>
                <td>Started</td>
                <td>Players</td>
                <td></td>
            </tr>
            @foreach (var game in Games) 
            {
                <tr>
                    <td>@game.Start.ToString("dd.MM.yyyy hh:mm")</td>
                    <td>@(string.Join(", ", game.GamePlayers?.Select(gp => gp.Player.Name) ?? new string[] {}))</td>
                    <td><a class="btn btn-primary" href="/game/@game.GameId">Continue Game</a></td>
                </tr>
            }
        </table>
    </div>
}
