@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <a class="navbar-brand" href="">Scrabble.Web.Server</a>

        <span class="flex-grow-1"></span>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<Scrabble.Web.Server.Shared.Modal.ModalContainer />
